{% extends 'index.htm' %}

{% block body_block %}

{{ object.user }}

{% if object.about %}
{{ object.about }}</br>
{% else %}{% endif %}

{% if object.img %}
<img src='{{ object.img }}'> </img></br>
{% else %}{% endif %}

{% if object.title %}
{{ object.title }}</br>
{% else %}{% endif %}

{% if object.projects %}
{{ object.projects }}</br>
{% else %}{% endif %}

{% if object.github %}
{{ object.github }}</br>
{% else %}{% endif %}

profile detail


<a href='{% url 'profile:edit' slug=object.slug %}'><input type='button' value='edit'></a>
{% endblock %}